body {
	background: url("./images/background.png") no-repeat;
	background-position: center 40%;
	background-color: #b9f2fb;
}

.hover {
	cursor: auto
}

nav ul {
    list-style: none;
	padding: 0;
	margin-top: 100px;
}

nav ul li {
    margin: 1em;
	display: inline;
}

h1.fontface {
	font: 60px/68px 'DroidSansMonoRegular', Arial, sans-serif;letter-spacing: 0;
	margin-top: 150px;

}

p.style1 {font: 18px/27px 'DroidSansMonoRegular', Arial, sans-serif;}
		
#container {
	text-align: center;
	margin: 0 auto;
}

img {
	border-style: none;
}

